<div ng-controller="calcCtrl">
    <div class="row">

        <div class="col-sm-3 text-center">

            <img src="img/3.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Média de KM/Litro</p>
            </div>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="mediakm">Média KM/L</label>
                    <input type="number" required min="1" max="9999999" class="form-control input-lg" id="mediakm" ng-model="mediakm" placeholder="Digite a media de km/l">
                </div>
                <div class="form-group">
                    <label for="kmrodados">Km Rodados</label>
                    <input type="number" required min="1" max="9999999" class="form-control input-lg" id="kmrodados" ng-model="kmrodados" placeholder="Digite a quantidade de km rodados">
                </div>
                <div class="form-group">
                    <label for="vlitro">Valor do litro</label>
                    <input type="number" required min="0" max="999" class="form-control input-lg" id="vlitro" ng-model="vlitro" placeholder="Digite o valor do litro">
                </div>
            </form>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success btn-block btn-lg" ng-click="calcularMediaDinheiro()">Calcular</button>
            <button class="btn btn-primary btn-block btn-lg" ng-click="limpar()">Limpar</button>
        </div>



    </div>
    <div class="row" ng-show="mostraCalculo">
        <div class="col-sm-12 text-center">

            <h1>Cuidado!!!!</h1>
            <p>Seu veículo irá precisar de <strong>{{media|number}} </strong> litros de combustivell</p>
            <p>Você vai gastar em média <strong>{{gasto|currency}}</strong> para percorrer essa distancia </p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-5 text-center"></div>
        <div class="col-sm-2 text-center">
            <a class="btn btn-success btn-block btn-lg" ng-href="/">Voltar</a>
        </div>
        <div class="col-sm-5 text-center"></div>
    </div>
</div>