<div ng-controller="calcCtrl">
    <div class="row">

        <div class="col-sm-3 text-center">

            <img src="img/4.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Média de KM/Litro</p>
            </div>
        </div>
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="vabast">Valor a abastecer</label>
                    <input type="number" required min="1" max="9999999" class="form-control input-lg" id="vabast" ng-model="vabast" placeholder="Valor a abastecer">
                </div>

                <div class="form-group">
                    <label for="vlitro">Valor do litro</label>
                    <input type="number" required min="0" max="999" class="form-control input-lg" id="vlitro" ng-model="vlitro" placeholder="Digite o valor do litro">
                </div>
            </form>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success btn-block btn-lg" ng-click="calcularMediaLitros()">Calcular</button>
            <button class="btn btn-primary btn-block btn-lg" ng-click="limpar()">Limpar</button>
        </div>



    </div>
    <div class="row" ng-show="mostraCalculo">
        <div class="col-sm-12 text-center">

            <h1>Veja bem!!!</h1>
            <p>Você irá abastecer <strong>{{media|number}} </strong> litros de combustivel</p>
           
        </div>

    </div>
    <div class="row">
        <div class="col-sm-5 text-center"></div>
        <div class="col-sm-2 text-center">
            <a class="btn btn-success btn-block btn-lg" ng-href="/">Voltar</a>
        </div>
        <div class="col-sm-5 text-center"></div>
    </div>
</div>