<div class="row">
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-4 text-center">
        <a ng-href="/m">
            <img src="img/1.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Média KM/Litro</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a ng-href="/mkm">
            <img src="img/2.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Média KmInicial/KmFinal</p>
            </div>
        </a>
    </div>
    <div class="col-sm-2 text-center">
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-center">
    </div>
    <div class="col-sm-4 text-center">
        <a ng-href="/d">
            <img src="img/3.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Quanto dinheiro(R$) para percorrer? </p>
            </div>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a ng-href="/l">
            <img src="img/4.jpg" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Quantos litro vou gastar?</p>
            </div>
        </a>
    </div>
    <div class="col-sm-2 text-center">
    </div>
</div>