<div class="row" ng-controller="calculoCtrl">
    <div class="col-sm-3 text-center">
    </div>
    <div class="col-sm-3 text-center">
        <a ng-href="/masculino">
            <img src="img/male.png" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Masculino</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <a ng-href="/feminino">
            <img src="img/female.png" class="img-thumbnail img-responsive" style="max-height: 150px; max-width:150px;">
            <div class="caption">
                <p class="text-center">Feminino</p>
            </div>
        </a>
    </div>
    <div class="col-sm-3 text-center">
    </div>
</div>